@{
    ViewData["Title"] = "Create/Edit";
}
@model StudentPortalWeb.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create or edit an expense</h1>

</div>
<form asp-action="CreateEditForm" asp-controller="Home">
    <label>Id</label>
    <input class="form-control" type="number" asp-for="Id" />
    <label class="mt-4">Value $ </label>
    <input class="form-control" type="number" asp-for="Value" step="0.01" />
    <label class="mt-4">Description</label>
    <input class="form-control" type="text" asp-for="Description" />
    <button class="mt-4 btn btn-primary" type="submit">Ok</button>
</form>

